body{
  background-color: #2196F3!important;
}

code{
  display: block;
  white-space: pre-wrap;
}
.package-title, .package-title:hover{
  color: #FFF;
  border-bottom: 2px dotted #FFF;
  text-decoration: none;
}

.accordion-header{
  font-weight: 600;
  border-bottom: 0 none !important;
  color: #636060;
}

code.decorator, code.htmlCode{
  display: block;
  margin-bottom: 16px;
  color: #223d5a;
  background-color: rgba(33, 150, 243, 0.2);
  border-radius: 2em 2em 2em 2em;
  padding: 20px;
  letter-spacing: 1px;
}

.output{
  white-space: pre-wrap;
}
mark {
  background-color: rgba(33, 150, 243) !important;
  padding: 0 5px !important;
  color: #EEE;

}
